<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
	<appSettings>
		<add  key="connectstring" value="Data Source=3CT0W8A7RXH9QA6\THANHHIEU;Initial Catalog=DataChat;Integrated Security=True"/>
	</appSettings>
</configuration>